.styleone {
    color:aqua;
    text-align: center;
    background-color: blue;
}

span{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}

.styletwo{
background: green;
border: orange 3px dashed;
}